<a href="https://colab.research.google.com/github/datascience-vivek/cv_test/blob/main/CV_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df = pd.read_csv('/content/drive/MyDrive/ML Class/Advertising.csv', index_col=[0])
df

        TV  Radio  Newspaper  Sales
1    230.1   37.8       69.2   22.1
2     44.5   39.3       45.1   10.4
3     17.2   45.9       69.3    9.3
4    151.5   41.3       58.5   18.5
5    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
196   38.2    3.7       13.8    7.6
197   94.2    4.9        8.1    9.7
198  177.0    9.3        6.4   12.8
199  283.6   42.0       66.2   25.5
200  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [4]:
x = df.drop(['Sales'], axis= 1)
x

        TV  Radio  Newspaper
1    230.1   37.8       69.2
2     44.5   39.3       45.1
3     17.2   45.9       69.3
4    151.5   41.3       58.5
5    180.8   10.8       58.4
..     ...    ...        ...
196   38.2    3.7       13.8
197   94.2    4.9        8.1
198  177.0    9.3        6.4
199  283.6   42.0       66.2
200  232.1    8.6        8.7

[200 rows x 3 columns]

In [5]:
y = df['Sales']
y

1      22.1
2      10.4
3       9.3
4      18.5
5      12.9
       ...
196     7.6
197     9.7
198    12.8
199    25.5
200    13.4
Name: Sales, Length: 200, dtype: float64

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train, x_test, y_train, y_test, = train_test_split(x,y, test_size=0.3, random_state= 101)

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
scaler = StandardScaler()

In [10]:
scaler.fit(x_train)

StandardScaler()

In [11]:
x_train = scaler.transform(x_train)

In [12]:
x_test = scaler.transform(x_test)

In [13]:
from sklearn.linear_model import Ridge

In [14]:
model = Ridge(alpha=100)

In [15]:
model.fit(x_train, y_train)

Ridge(alpha=100)

In [16]:
y_pred = model.predict(x_test)

In [17]:
from sklearn.metrics import mean_squared_error

In [18]:
MSE= mean_squared_error(y_pred, y_test)
MSE

7.34177578903413

In [19]:
model2 = Ridge(alpha=1)

In [20]:
model2.fit(x_train, y_train)

Ridge(alpha=1)

In [21]:
ypred2 = model2.predict(x_test)

In [23]:
MSE = mean_squared_error(ypred2, y_test)
MSE

2.319021579428752

In [28]:
x_train, x_other, y_train, y_other, = train_test_split(x,y, test_size=0.3, random_state= 101)

In [31]:
#Test size = 0.5(50% of the 30% other data)
x_eval, x_test, y_eval, y_test = train_test_split(x_other, y_other, test_size= 0.5, random_state=101)

In [32]:
len(df)

200

In [33]:
len(x_train)

140

In [34]:
len(x_other)

60

In [35]:
len(x_eval)

30

In [36]:
len(x_test)

30

In [37]:
x_train = scaler.transform(x_train)

In [38]:
x_test = scaler.transform(x_test)

In [39]:
x_eval = scaler.transform(x_eval)#validation data

In [40]:
model3= Ridge(alpha=100)

In [41]:
model3.fit(x_train, y_train)

Ridge(alpha=100)

In [42]:
y_eval_pred = model3.predict(x_eval)
y_eval_pred

In [43]:
MSE = mean_squared_error(y_eval_pred, y_eval)
MSE

7.320101458823871

In [45]:
model4= Ridge(alpha=1)

In [46]:
model4.fit(x_train, y_train)

Ridge(alpha=1)

In [47]:
new_pred_eval = model4.predict(x_eval)

In [48]:
MSE = mean_squared_error(new_pred_eval, y_eval)
MSE

2.383783075056986

In [49]:
RMSE= np.sqrt(MSE)
RMSE

1.5439504768796783

In [50]:
y_final_test_pred = model4.predict(x_test)##Final evaluation on the test

In [51]:
MSE = mean_squared_error(y_test,y_final_test_pred )##For training testing and validation case
MSE

2.2542600838005176

In [52]:
RMSE= np.sqrt(MSE)
RMSE

1.5014193564093004

In [ ]:
Cross_VAL_Score(K-fold CV)